{{- /* .icon could also be a resource */}}
{{- $svg := .icon -}}
{{- $iconIsString := eq (printf "%T" .icon) "string" -}}

{{- $classes := slice "icon" -}}
{{- if $iconIsString -}}
  {{- $path := strings.TrimSuffix ".svg" .icon -}}

  {{- with resources.Get (printf "%s.svg" $path) -}}
    {{- $svg = . -}}
    {{- $classes = $classes | append (path.Base $path) -}}
  {{- else -}}
    {{- /* If icon doesn't exist in the site, fallback to icon packs */}}
    {{- if hasPrefix .icon "fa-" -}}
      {{- $specifiers := split .icon " " -}}
      {{- $family := index $specifiers 0 | strings.TrimPrefix "fa-" -}}
      {{- $icon := index $specifiers 1 | strings.TrimPrefix "fa-" -}}
      {{- $path = printf "svgs/fontawesome/%s/%s.svg" $family $icon -}}
    {{- else if hasPrefix .icon "bi-" -}}
      {{- $icon := .icon | strings.TrimPrefix "bi-" -}}
      {{- $path = printf "svgs/bootstrap/%s.svg" $icon -}}
    {{- else -}}
      {{- $path = "" -}}
    {{- end -}}

    {{- $svg = resources.Get $path -}}
  {{- end -}}
{{- end -}}

{{- $markup := "" -}}
{{- with $svg -}}
  {{- $markup = $svg.Content -}}

  {{- with $.class -}}
    {{- $classes = $classes | append . -}}
  {{- end -}}

  {{- /* Fetch attributes from passed arguments */}}
  {{- $s := newScratch -}}
  {{- $s.Set "attributes" $ -}}
  {{- $s.DeleteInMap "attributes" "icon" -}}
  {{- $s.DeleteInMap "attributes" "title" -}}
  {{- $s.SetInMap "attributes" "class" (delimit $classes " ") -}}

  {{- /* Override markup with passed title */}}
  {{- with $.title -}}
    {{- $markup = $markup | replaceRE "<title.*</title>" "" -}}
    {{- $markup = replace $markup "</svg>" (printf "<title>%s</title>" .) -}}
  {{- end -}}

  {{- /* Override markup with passed attributes */}}
  {{- $attributes := slice -}}
  {{- range $k, $v := $s.Values.attributes -}}
    {{- $matches := findRE (printf `%s=".*?"` $k) $markup 1 -}}
    {{- if len $matches -}}
      {{- $markup = replace $markup (index $matches 0) "" 1 -}}
    {{- end -}}
    {{- $attributes = $attributes | append (printf `%s="%s"` $k $v) -}}
  {{- end -}}

  {{- $pattern := `<svg([\s\S]*)?>` -}}
  {{- $replacement := printf `<svg %s ${1}>` (delimit $attributes " ") -}}
  {{- $markup = replaceRE $pattern $replacement $markup 1 | safeHTML -}}
{{- else -}}
  {{- warnf "svg-icon-system: could not find '%s'." .icon -}}
{{- end -}}

{{- return $markup -}}
