{{ $img := .img }}
{{ $alt := .alt | default "" }}
{{ $class := .class | default "" }}
{{ $loading := .loading | default "auto" }}
{{ $webpHint := .webpHint | default "photo" }}
{{ $breakpoints := .breakpoints | default (slice 768 992 1200) }}
{{ $widths := .widths | default (slice 768 992 -1 -1) }}
{{ $quality := .quality | default 75 }}

{{ $type := "" }}
{{ with (substr (path.Ext $img) 1) }}
{{ if in "jpg jpeg jfif pjpeg pjp" . }}
{{ $type = "image/jpeg" }}
{{ else}}
{{ $type = print "image/" . }}
{{ end }}
{{ end }}

{{ with $img }}
<picture>
    {{ range $i, $v := first (sub (len $breakpoints) 1) $breakpoints }}
    {{ $width := index $widths (add $i 1) | default -1 }}
    {{ partial "_img" (dict "breakpoint" $v "width" $width "img" $img "webpHint" $webpHint "quality" $quality) }}
    {{ end }}

    {{ $breakpoint := index (last 1 $breakpoints) 0 }}
    {{ $width := index $widths (len $breakpoints) | default -1 }}
    {{ partial "_img" (dict "breakpoint" $breakpoint "width" $width "img" $img "webpHint" $webpHint "quality" $quality) }}

    {{ $width := index $widths 0 }}
    {{ if lt .Width $width }}{{ $width = -1 }}{{ end }}
    {{ partial "_img" (dict "width" $width "img" $img "webpHint" $webpHint "quality" $quality) }}

    <img class="{{$class}}" alt="{{$alt}}" src="{{.RelPermalink}}" height="{{.Height}}" width="{{.Width}}"
    type="{{$type}}" loading="{{$loading}}" />
</picture>
{{ end }}